<%-include("partials/header")%>

<div class="container">
    <canvas id="canvas" width="770px" height="550px"></canvas>
    <div class="tool-container">
      <div id="color-picker">
        <input type="color" id="colr">
      </div>
      <input id="clear-canvas-btn" type="button" value="Clear">
    </div>
</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/peer.js"></script>
    <script src="/main.js"></script>

<%-include("partials/footer")%>
