<%-include("partials/header")%>

<div class="container">
    <canvas id="canvas" width="600" height="300"></canvas>
    <div class="tool-container">
        <h1>hello</h1>
    </div>
</div>


    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
    <script src="/peer.js"></script>
    <script src="/main.js"></script>

<%-include("partials/footer")%>
