html{
    background-color: #BA292E;
}

.container{
    /*display:flex;
    flex-direction: column;
    justify-content:center;*/
}


#canvas{
    border-radius: 10px;
    background-color: whitesmoke;
    border: 3px solid gray;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    -webkit-transform: translate(-50%, -55%);
    -moz-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    -o-transform: translate(-50%, -55%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.tool-container{
    display:flex;
    justify-content: space-evenly;
   /* border: 2px solid blue;*/
}

#color-picker{
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: solid 2px #ddd;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

#colr{
    cursor:pointer;
    position:absolute;
    right: -8px;
    top: -8px;
    width: 56px;
    height: 56px;
    border: none;
}

#clear-canvas-btn{
    background-color: #555555;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    color: white;
    border:none;
    font-size: 16px;
    outline: none;
    padding: 15px 25px;
    box-shadow: 0 9px #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#clear-canvas-btn:hover{
    background-color: #3f3f3f;
    cursor:pointer;
}

#clear-canvas-btn:active{
  background-color: #3f3f3f;
  box-shadow: 0 1px #666;
  transform: translateY(6px);
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
}